#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

debian/control: $(wildcard debian/*.in)
	cat < debian/postrm.in > debian/hev-kernel-helper.postrm
	cat < debian/postinst.in > debian/hev-kernel-helper.postinst
	cat < debian/control.in > debian/control

%:
	dh $@

.PHONY: build clean
build clean:
